<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PCCW Global</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>19/05/28 09:59:21</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.pccw.testcases.UploadAndVerifyImageIntoGoogleTest@77cd7a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/05/28 09:59:28</td>   <td>6540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UploadAndVerifyImageIntoGoogleTest.uploadAndVerify()[pri:0, instance:com.pccw.testcases.UploadAndVerifyImageIntoGoogleTest@77cd7a0]">uploadAndVerify</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/05/28 09:59:48</td>   <td>26725</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.pccw.testcases.UploadAndVerifyImageIntoGoogleTest@77cd7a0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
</table>
